.display{
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
}

.image-container {
  /* Use flexbox to center the image vertically and horizontally */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  /* Set the image to cover the container and center it */
  object-fit: cover;
  /* Set a maximum width and height for the image */
  max-width: 100%;
  max-height: 80vh;
  /* Add any other styles you may need for the image */
}


.no-data-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.5rem;
  font-weight: 550;
}


.full-screen-video{
  object-fit: cover;
  max-width: 100%;
  max-height: 85vh;
}

/* display-screen.component.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}


.header {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: 550;
}

.subheader {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: 550;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.table th {
  background-color: #ac5454;
  color: white;
}