<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-10 mb-2">
      <h4 class="page-title m-1">Select Screen</h4>
      <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select (selectionChange)="onSelectionChange($event)">
          <mat-option *ngFor="let screen of ScreenOptions" [value]="screen.ScreenID">
            {{ screen.ScreenName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-2">
    <div>
      <div *ngFor="let screen of screenData" class="col-lg-3 col-md-3 col-sm-12 mb-2">
        <img [src]="getFullSrc(screen.Base64File.data, screen.Base64File.mimeType)" alt="Full Screen Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>